<%- include('header') -%>
    <div id="root"><%- content -%></div>
<%- include('footer') -%>

<!--<h1>The EJS page</h1>
<p>***************************************</p>
<p>This is the EJS page of the project:)</p>
<p><%= Math.random() %></p>
<p><%= content %></p>
<p><%- content %></p>-->